.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-top-width: 4px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  background-color: #f8f8f8;
  border-top-color: #5bbd50;
}

.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  margin: 0 19.5%;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header__title {
  font-size: 30px;
  font-family: "Lobster Two", cursive;
}

.header__title__color1 {
  color: #5bbd50;
}

.header__title__color2 {
  color: #e24425;
}

.header__contact__color {
  color: #e24425;
}

.header__contact {
  font-size: 18px;
  color: #727272;
  font-weight: lighter;
  font-family: "Source Sans Pro", sans-serif;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: unset;
  text-decoration: none;
}

body {
  all: revert;
  margin: 0;
  font-size: 16px;
  max-width: 1920px;
  text-align: center;
  background: #ffffff;
  color: #515151;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  height: 50px;
  background-color: #f1f1f1;
}

.menu__nav {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 19.5%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
}

.menu__nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style-type: none;
}

.menu__nav__list .menu_nav_list--item:first-of-type {
  padding-right: 25px;
  padding-left: 0;
  color: #5bbd50;
}

.menu__nav__list .menu_nav_list--item {
  padding-left: 20.2px;
  padding-right: 19px;
  color: #494949;
}

.menu__right__lists {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-weight: lighter;
  list-style-type: none;
  color: #6e6e6e;
}

.menu__right__lists .user__nav__list--item {
  padding-left: 12px;
  padding-right: 12px;
}

.menu__right__lists .user__nav__list--item:last-of-type {
  padding-right: 14px;
}

.cta {
  height: 423px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__banner {
  background-image: url("../images/banner/banner_burger.png");
  object-fit: cover;
  height: 100%;
  background-position: 0 20%;
  background-repeat: no-repeat;
}

.cta__title1 {
  font-size: 32px;
  font-weight: lighter;
  margin: 0 auto 7.5px auto;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  width: 1008px;
  position: relative;
  text-align: center;
}

.cta__title2 {
  font-size: 32px;
  font-weight: lighter;
  margin: 7.5px auto 25px auto;
  color: #ffffff;
  font-family: "Lobster Two", cursive;
  position: relative;
  text-align: center;
  width: 1008px;
}

.cta__title2:before {
  left: 0;
}

.cta__title2:after {
  right: 0;
}

.form {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  margin: 0 19.5%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 1920px;
}

.form .field {
  height: 80px;
  border-radius: 0.5em;
  width: 370px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.form .field3 {
  max-width: 270px;
  height: 80px;
  border-radius: 0.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.form .cta__search {
  width: 100%;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 10px;
}

.form .cta__input {
  width: 100%;
  height: 47px;
  border: 0;
  padding-bottom: 10px;
  border-radius: 0.5em;
  padding: 0;
  font-size: 16px;
  color: #c0c0c0;
  font-family: "Source Sans Pro", sans-serif;
}

.icon {
  width: 70px;
  height: 47px;
  background-color: #5bbd50;
  font-size: 18px;
  border-radius: 10%;
  line-height: 55px;
  color: #ffffff;
}

.parallel-line-style, .cta__title2:before, .cta__title2:after {
  content: "";
  display: block;
  width: 355px;
  height: 4px;
  border-top: 4px double;
  border-color: rgba(255, 255, 255, 0.5);
  top: 55%;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */