$color-banner-white: #ffffff;
$color-banner-green: #5bbd50;
$color-banner-input-placeholder-attribute: #c0c0c0;
$font-banner-first-headline: "Source Sans Pro", sans-serif;
$font-banner-second-headline: "Lobster Two", cursive;

.cta {
    height: 423px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.container__banner {
    background-image: url("../images/banner/banner_burger.png");
    object-fit: cover;
    height: 100%;
    background-position: 0 20%;
    // background-size: 100%;
    background-repeat: no-repeat;
}

.cta__title1 {
    font-size: 32px;
    font-weight: lighter;
    margin: 0 auto 7.5px auto;
    font-family: $font-banner-first-headline;
    color: $color-banner-white;
    width: 1008px;
    position: relative;
    text-align: center;
}

.cta__title2 {
    font-size: 32px;
    font-weight: lighter;
    margin: 7.5px auto 25px auto;
    color: $color-banner-white;
    font-family: $font-banner-second-headline;
    position: relative;
    text-align: center;
    width: 1008px;
}

.cta__title2:before {
    left: 0;
    @extend .parallel__line__style;
}

.cta__title2:after {
    right: 0;
    @extend .parallel__line__style;
}

.form {
    height: 100px;
    width: 1920px;
    margin: 0 19.5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .field {
        width: 370px;
        @extend .flex__setting__cta__filed;
    }

    .field3 {
        max-width: 270px;
        @extend .flex__setting__cta__filed;

    }

    .cta__search {
        width: 100%;
        text-align: left;
        font-family: $font-banner-first-headline;
        color: $color-banner-white;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .cta__input {
        width: 100%;
        height: 47px;
        border: 0;
        padding-bottom: 10px;
        border-radius: 0.5em;
        padding: 0;
        font-size: 16px;
        color: $color-banner-input-placeholder-attribute;
        font-family: $font-banner-first-headline;
    }
}

.icon {
    width: 70px;
    height: 47px;
    background-color: $color-banner-green;
    font-size: 18px;
    border-radius: 0.5em;
    line-height: 55px;
    color: #ffffff;
}
