$color-header-green: #5bbd50;
$color-header-grey: #727272;
$color-header-background: #f8f8f8;

$font-header-logo: "Lobster Two", cursive;
$font-header: "Source Sans Pro", sans-serif;



.header {
    display: flex;
    align-items: center;
    border-top-width: 4px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    background-color: $color-header-background;
    border-top-color: $color-header-green;
}

.header__wrapper {
    display: flex;
    margin: 0 19.5%;
    align-items: center;
    padding: 0 0 0 0;
    justify-content: space-between;
}

.header__title {
    font-size: 30px;
    font-family: $font-header-logo;
}

.header__contact {
    font-size: 18px;
    color: $color-header-grey;
    font-weight: lighter;
    font-family: $font-header;
}
