$color-basic-green: #5bbd50;
$color-header-read: #e24425;
$color-header-grey: #727272;
$color-header-background: #f8f8f8;
$color-banner-white: #ffffff;
$color-banner-input-placeholder-attribute: #c0c0c0;
$color-menu-gray: #515151;
$color-menu-background: #f1f1f1;
$color-menu-left-lists: #494949;
$color-menu-right-lists: #6e6e6e;

$font-basic: "Source Sans Pro", sans-serif;
$font-second: "Lobster Two", cursive;



.parallel__line__style {
    content: "";
    display: block;
    width: 355px;
    height: 4px;
    border-top: 4px double;
    border-color: rgba(255, 255, 255, 0.5);
    top: 55%;
    position: absolute;
}

.flex__setting__find-restaurant__filed{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border-radius: 0.5em;
}

.order__circle__before__template{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;

    position: absolute;
    border: solid white 4px;
    background: #e24425;
    font-family: $font-basic;
    font-size: 1.5em;
    margin: -25px;
    left: 50%;
    top: -13.5px;
    height: 51px;
    width: 51px;
    border-radius: 50%;
}

.circle__template{
    // display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 181px;
    width: 181px;
    margin: 0px;
    color: white;
}

.position_in_circle{
    display: block;
    margin: auto;
}