//  stworz sobie plik css o nazwie _helpers.scss i trzymaj tam proste klasy
//  ktore moga sie przydac, np. text-red, text-bolded, m-5 czyli margin: 5px itp.
//  i wtedy np w innej biblioteczce mozesz stworzyć dla numeru telefonu klase
// o nazwie phone-number ktorą dodaje wykorzystuje klase text-bolded i text-red
// z helpersów, czyli powstaje taka fajna reuzywalnosc -->

.parallel__line__style {
    content: "";
    display: block;
    width: 355px;
    height: 4px;
    border-top: 4px double;
    border-color: rgba(255, 255, 255, 0.5);
    top: 55%;
    position: absolute;
}

.flex__setting__cta__filed{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border-radius: 0.5em;
}
