// wrzuc do pliku main.scss i wrzucaj tam glowne klasy ktore np mozna wplesc
//  w kazda sekcja jak np ten container, albo jakis wrapper, albo jakis heading
// , title-heading, styled-paragraph,

.container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
