// wrzuc do pliku main.scss i wrzucaj tam glowne klasy ktore np mozna wplesc
//  w kazda sekcja jak np ten container, albo jakis wrapper, albo jakis heading
// , title-heading, styled-paragraph,

/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
    color: unset;
    text-decoration: none;
}

body {
    all: revert;
    margin: 0;
    font-size: 16px;
    max-width: 1920px;
    text-align: center;
    background: #ffffff;
    color: #515151;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
