$color-menu-green: #5bbd50;
$color-menu-gray: #515151;
$color-menu-background: #f1f1f1;
$color-menu-left-lists: #494949;
$color-menu-right-lists: #6e6e6e;

$font-menu: "Source Sans Pro", sans-serif;

.menu {
    height: 50px;
    background-color: $color-menu-background;
}

.menu__nav {
    display: flex;
    padding: 0;
    margin: 0 19.5%;
    justify-content: space-between;
    font-family: $font-menu;
}

.menu__nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
    list-style-type: none;

    .menu_nav_list--item:first-of-type {
        padding-right: 25px;
        padding-left: 0;
        color: $color-menu-green;
    }

    .menu_nav_list--item {
        padding-left: 20.2px;
        padding-right: 19px;
        color: $color-menu-left-lists;
    }
}

.menu__right__lists {
    display: flex;
    padding: 0;
    font-weight: lighter;
    list-style-type: none;
    color: $color-menu-right-lists;

    .user__nav__list--item {
        padding-left: 12px;
        padding-right: 12px;
    }

    .user__nav__list--item:last-of-type {
        padding-right: 14px;
    }
}
