.container__offers {
    height: 508px;
    background-color: $color-menu-background;
}

.offer__panel {
}

.panel_shape {
    height: 201px;
    width: 370px;
    border: 2px solid green;
    background-color: $color-banner-white;
}
